<div class='row'>
  <div class='well col-md-12 col-md-offset-0'>
    <h1> SERLER, Your number one evidence source </h1>
    
    <h2> We provide large database of booke/ebooks, journals and conference proceedings to empower you with the knowledge you need</h2>
    <p><h2>Sign up to access our services such as searching, downloading and submtting yor evidences</h2>
    
    <%= link_to("sign up", {:action => "signup"})  %>
    <%= link_to("sign in", {:action => "new"})  %>
    
    
    </div>
</div>
    
    