<center>
<h1> Sign Up </h1> <br><br><br><br>
<div class="container"></div>
Full Name <input type= "text" name= "name"/> <br><br>
Email <input type= "text" name= "email"/> <br><br>
User ID <input type= "text" name= "uid"/> <br><br>
Password <input type= "password" name= "pwd"/> <br><br>
Re enter your Password <input type= "password" name= "pwd1"/> <br><br>
User ID <input type= "text" name= "uid"/> <br><br><br>

<%= link_to "sign up","", class: "btn btn-lg btn-success" %> 
<%= link_to "Cancel","", class: "btn btn-lg btn-success" %>
</center>
</div>