<div>
<center>
Username <input type= "text" name= "t1"/> <br><br><br>
password <input type= "password" name= "p1"/> <br><br>
<%= link_to "sign in","", class: "btn btn-lg btn-success" %> <br> <br>
<%= link_to "Forget your password","" %>
</center>
</div>